.main-promo {
  background-color: $brand-primary;

  padding-bottom: 5rem;

  &__heading {
    color: $gray-lighter;
    font-family: 'Questrial', sans-serif;
    font-size: 12rem;
    font-weight: bold;
    text-shadow: 0 1px $gray-base;

    margin-bottom: 0;
  }

  &__subheading {
    color: #20124D;
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 0 1px $gray-lighter;

    margin-top: 0;
    margin-bottom: 3rem;
  }

  &__slogan {
  }
}

@media (min-width: $screen-sm-min){
  .main-promo {
    padding-top: 5rem;

    &__heading {
      font-size: 22rem;
      line-height: 19rem;
    }

    &__subheading {
      font-size: 9rem;
      line-height: 8rem;
    }
  }
}

@media (min-width: $screen-md-min) {
  .main-promo {

    &__heading {
      font-size: 25rem;
    }

    &__subheading {
      font-size: 11rem;
    }

    &__slogan {
    }
  }
}

