.navbar {
  z-index: 1;

  box-shadow: 0 0 3px 0 $gray-base;

  button {
    margin-top: 7px;
    margin-bottom: 0;
  }
}

@media (min-width: $screen-lg-min){
  .navbar {
    button {
      margin-top: 12px;
    }
  }
}
