<div class="modal-header">
  <h3 class="modal-title">Reset progress button</h3>
</div>
<div class="modal-body">
  <p class="lead">Hello, everyone</p>

  <p>Recently there were issues, when students could not update their profiles to the most recent curriculum state.</p>
  <p>To solve this problem we decided to add 'Reset Progress' button to the profiles page. This button will delete your
    current progress and download the latest version of curriculum. Please use this feature with discretion as we won't
    be able to restore your progress once it has been reset.</p>

  <p>Have fun time learning to program and enjoy your day</p>

  <cite>OSSU dev team</cite>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Got it, take me in.</button>
</div>
