<div class="modal-header">
  <h3 class="modal-title">Curriculum update</h3>
</div>
<div class="modal-body">
  <p>Hello, everyone</p>

  <p>Recently there has been a slight <a href="https://github.com/open-source-society/computer-science/pull/317">update
    in the curriculum</a>. <a href="https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-5#!">MIT
    6.00</a> and <a href="https://www.coursera.org/learn/build-a-computer">From Nand to Tetris</a> were moved to extras
    section and <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x#!">CS50</a> was added
    into main curriculum.</p>

  <p>Now we have also updated our web app to reflect this changes, though this will only affect newly registering
    users.</p>

  <p>If you have any questions, have a bug to submit or would like to file a new feature for the coming
    releases, feel free to use <a href="https://github.com/open-source-society/ossu-client/issues">our bug tracker</a>.
  </p>

  <p>If you want some course be included into main or extra curriculum, you can <a
    href="https://github.com/open-source-society/computer-science/issues">submit it here.</a></p>

  <p>Have fun time learning to programm and enjoy your day</p>

  <cite>OSSU dev team</cite>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Got it, take me in.</button>
</div>
