<div class="modal-header">
  <h3 class="modal-title">Welcome to OSS University</h3>
</div>
<div class="modal-body">
  <p class="text-danger lead">Please, spend one minute and read the following information, it is really important.</p>
  <p>This site is currently in early alpha stage. Though major functionality is ready you can encounter some bugs or
    some feature can be drastically changed in the future.
    Any data, that is saved in your profile may be changed or removed before release (at the moment there are no
    evident reasons for purging our database, but we can't guarantee they won't occur in the future).
    By using this site you confirm, that you understand all the mentioned risks.
  </p>

  <p>In order to use this site, you need to have a <a href="https://github.com/">github account</a>. If you already have
    one, simply log in to our site using a button in the top menu.</p>

  <p>We are fully open sourced. For any issues you can use <a
    href="https://github.com/SergeyKhval/ossu-client/issues">our bug tracker</a></p>

  <p>You can also head to <a href="https://github.com/open-source-society/computer-science">Open Source University
    repository</a> and have some nice conversation there</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK, I understand everything, take me in.</button>
</div>
