<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <p><img ng-src="{{user.profile.avatar}}" alt="{{user.profile.name}}" class="img-thumbnail"></p>
      <h3><i class="fa fa-user"></i> {{user.profile.name}}</h3>
    </div>

    <div class="col-sm-8 col-md-9">
      <p class="lead">Link to my public profile: <a href="#/profile/{{user.uid}}">#/profile/{{user.uid}}</a></p>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search courses e.g. math, finished, intro"
                 ng-model="coursefilter">
        </div>
      </div>

      <ul class="list-unstyled user-courses">

        <li class="user-courses__header">
          <div class="row">
            <div class="col-md-4"><h3>Title</h3></div>
            <div class="col-md-4"><h3>Link to repository</h3></div>
            <div class="col-md-2"><h3>Status</h3></div>
          </div>
        </li>

        <li class="user-courses__course" ng-repeat="course in courses | filter:coursefilter">
          <div class="row">
            <div class="col-md-4"><a ng-href="{{course.link}}">{{course.title}}</a></div>
            <div class="col-md-4">
              <div ng-hide="edit[course.$id]">{{course.repo}}</div>
              <div class="form-group label-floating" ng-class="{'is-empty': course.repo === ''}" ng-show="edit[course.$id]">
                <label class="control-label" for="courserepo">Provide a link to repo</label>
                <input type="text" id="courserepo" class="form-control" ng-model="course.repo">
              </div>
            </div>
            <div class="col-md-2">
              <div ng-hide="edit[course.$id]">{{course.status}}</div>
              <div class="form-group" ng-show="edit[course.$id]">
                <select name="" id="" class="form-control" ng-model="course.status">
                  <option value="Not started">Not started</option>
                  <option value="In progress">In progress</option>
                  <option value="Finished">Finished</option>
                </select>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <div ng-hide="edit[course.$id]">
                <button class="btn btn-sm btn-warning" ng-click="enableEditMode(course)"><i class="fa fa-pencil"></i>
                </button>
              </div>
              <div ng-show="edit[course.$id]">
                <button class="btn btn-sm btn-danger" ng-click="discard(course)"><i class="fa fa-ban"></i></button>
                <button class="btn btn-sm btn-success" ng-click="update(course)"><i
                  class="fa fa-check"></i></button>
              </div>
            </div>
          </div>
        </li>
      </ul>


    </div>
  </div>
</div>
<toaster-container></toaster-container>
