<div class="row" ng-cloak>
  <div class="col-md-3 col-sm-4">
    <p><img ng-src="{{user.profile.avatar}}" alt="{{user.profile.name}}" class="img-thumbnail"></p>
    <h3 class="text-center">{{user.profile.name}}</h3>
  </div>

  <div class="col-sm-8 col-md-9">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search courses" ng-model="coursefilter">
      </div>
    </div>


    <table class="table table-inverse table-condensed">
      <thead>
      <tr>
        <th>Course</th>
        <th>Status</th>
        <th>Link to repository</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="course in courses | filter:coursefilter">
        <td>{{course.title}}</td>
        <td>
          <div ng-hide="edit[course.$id]">{{course.status}}</div>
          <div class="form-group" ng-show="edit[course.$id]">
            <select name="" id="" class="form-control">
              <option value="">Not started</option>
              <option value="">In progress</option>
              <option value="">Finished</option>
            </select>
          </div>
        </td>
        <td>
          <div ng-hide="edit[course.$id]">{{course.repo}}</div>
          <div class="form-group" ng-show="edit[course.$id]">
            <input type="text" class="form-control">
          </div>
        </td>
        <td>
          <div ng-hide="edit[course.$id]">
            <button class="btn btn-sm btn-warning" ng-click="enableEditMode(course)">Edit</button>
          </div>
          <div ng-show="edit[course.$id]">
            <button class="btn btn-sm btn-danger" ng-click="discard(course)"><i class="fa fa-ban"></i></button>
            <button class="btn btn-sm btn-success" ng-click="confirm()"><i class="fa fa-check"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
