<div class="container main-content__inner">
  <div class="row"></div>  <div class="col-xs-12" ng-show="!curriculumLoaded">
    <p class="loading text-center">
      Loading Curriculum <i class="fa fa-spinner"></i>
    </p>
  </div>
  <div class="col-xs-12" ng-show="curriculumLoaded">
    <h1>Computer Science</h1>
    <h2>Curriculum</h2>

    <p class="lead">{{courses.length}} courses in {{categories.length}} categories</p>
    <hr>

    <div class="panel panel-primary" ng-repeat="category in categories">
      <div class="panel-heading"><h3 class="panel-title">{{category}}</h3></div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6"><h3>Course</h3></div>
          <div class="col-md-3 text-right"><h3>Duration</h3></div>
          <div class="col-md-3 text-right"><h3>Effort</h3></div>
        </div>

        <div class="row" ng-repeat="course in courses | filter:category">
          <div class="col-md-6"><a ng-href="{{course.link}}">{{course.title}}</a></div>
          <div class="col-md-3 text-right">{{course.duration}}</div>
          <div class="col-md-3 text-right">{{course.effort}}</div>
        </div>


      </div>
    </div>

  </div>
</div>
