<div class="row">
  <div class="col-xs-12" ng-show="!curriculumLoaded">
    <p class="loading text-center">
      Loading Curriculum <i class="fa fa-spinner"></i>
    </p>
  </div>
  <div class="col-xs-12" ng-show="curriculumLoaded">
    <h1>Computer Science <button class="btn btn-primary btn-lg btn-raised" ng-click="startCourse()">Start studying</button></h1>
    <h2>Curriculum</h2>

    <p class="lead">{{courses.length}} courses in {{categories.length}} categories</p>
    <hr>

    <div class="panel panel-primary" ng-repeat="category in categories">
      <div class="panel-heading"><h3 class="panel-title">{{category}}</h3></div>

      <div class="panel-body">
        <table class="table">
          <thead>
          <tr>
            <td>Course</td>
            <td>Duration</td>
            <td>Effort</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="course in courses | filter:category">
            <td><a ng-href="{{course.link}}">{{course.title}}</a></td>
            <td>{{course.duration}}</td>
            <td>{{course.effort}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
