<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center main-promo">
      <h1 class="main-promo__heading">OSS</h1>
      <h2 class="main-promo__subheading">University</h2>
      <p class="lead main-promo__slogan">Path to a free self-taught education in Computer Science!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 main-info">
      <p class="main-info__slogan"> Open Source Society University is a community of students of all levels, completing a comprhensive, project
        based, open-source computer science curriculum, helping each other and sharing their experiences and code
        through github and our community forums.</p>
    </div>
  </div>
</div>
