<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center main-promo">
      <h1 class="main-promo__heading">OSS</h1>
      <h2 class="main-promo__subheading">University</h2>
      <p class="lead main-promo__slogan">Path to a free self-taught education in Computer Science!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">This is a <b>solid path</b> for those of you who want to complete a <strong>Computer
        Science</strong> course on
        your own time,
        <b>for free</b>, with courses from the <strong>best universities</strong> in the World.</p>
      <p class="lead">In our curriculum, we gave preference to MOOC (Massive Open Online Course) style courses because
        those courses
        were created with our style of learning in mind.</p>
    </div>
  </div>
</div>
